.father {
  display: flex;
  justify-content: space-around;

  height: 100vh;
}
.child {
  color: white;
  width: 200px;
  height: 200px;
  background-color: peru;
}

.child:nth-child(2) {
  order: 1;
}
