%categoryTitle {
  font-size: 28px;
  font-weight: 600;
}

%grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 18px 0;
  border-top: $border;
}

%footer {
  border: none;
  color: white;
  padding: 0;
}
