@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@import 'mixins';

* {
  box-sizing: border-box;
}

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Oleo Script Swash Caps', cursive; */

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
}

.header {
  font-size: 32px;
  padding: 0 10px;
  height: 60px;
  width: 100%;
  background-color: #f9f5f2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: 'Koulen', cursive;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
  }

  .category__list {
    display: flex;

    li {
      display: flex;
      align-items: center;

      &:hover {
        font-family: 'Oleo Script Swash Caps', cursive;
      }

      @extend #margin-right;
      span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        @extend #margin-right;
      }
      &:nth-child(n) {
        span {
          background-color: red;
        }
      }
      &:nth-child(2n) {
        span {
          background-color: blue;
        }
      }
    }
  }
  .search {
    display: flex;

    li {
      @extend #margin-right;
      &:hover {
        font-family: 'Oleo Script Swash Caps', cursive;
      }
    }
  }
}

main {
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 50vh;
  .post {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      display: flex;
      justify-content: center;
    }
    footer {
      display: flex;
      justify-content: space-between;
    }
    header,
    footer {
      z-index: 1;
    }
    .post__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .visible {
        font-size: 32px;
        text-align: center;
      }
      .invisible {
        background-image: url('https://images.prismic.io/beige/c75b3ee0-104b-4de7-b36b-0d6abce0702d_DSCF5822.jpg?auto=compress,format?auto=format,compress&q=60&fit=crop&w=500&h=800');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: none;
      }
      &:hover {
        .visible {
          display: none;
        }
        .invisible {
          display: block;
        }
      }
    }
  }
}
