@import 'variables';
@import 'elements';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  line-height: 1.4;
  & > *:not(header) {
    a {
      border: $border;
      border-radius: 50px;
      padding: 10px 30px;
      margin-right: 12px;
      span {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  .logo-schwartz {
    height: 100%;
    display: flex;
    align-items: center;
    i {
      font-size: 32px;
      margin: $headerSpace;
      padding-bottom: 10px;
    }
  }
  .logo-logo {
    margin: $headerSpace;
  }
}

main {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 50vw;
      height: 70vh;
      margin-bottom: 70px;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .home {
    width: 55%;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
    p {
      margin-bottom: 20px;
      span {
        font-weight: bold;
        font-size: 24px;
        margin-right: 60px;
      }
    }
    .view-our-companies {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .grid-container {
    width: 55%;

    article {
      @extend %grid;
      .grid-row {
        order: 1;
        h2 {
          @extend %categoryTitle;
        }
        p {
          margin: 50px 0;
          font-size: 36px;
        }
      }
      &:nth-child(2),
      &:nth-child(4) {
        .grid-row__image {
          order: 2;
        }
      }
    }
  }
}

.links {
  @extend %grid;
  margin-bottom: 100px;
  h2 {
    @extend %categoryTitle;
    margin-bottom: 24px;
  }
  p {
    margin: 50px 0;
    font-size: 24px;
  }
}

footer {
  background-color: #4d4c4c;
  width: 100%;
  .footer-container {
    .footer-left {
      display: flex;
      flex-direction: column;

      h3 {
        @extend %categoryTitle;
        margin-bottom: 100px;
      }
      .footer-left__nav {
        margin-bottom: 20px;
        a {
          @extend %footer;
        }
      }
    }
    padding: 50px 0;
    width: 55%;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-right {
    display: flex;
    justify-content: space-between;
    a {
      @extend %footer;
    }
  }
}
