@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;500&display=swap');

// font-family: 'Yrsa', serif;
// font-family: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

span > a {
  font-size: 0.8rem;
  color: tomato;
  font-weight: 600;
}

.sticky {
  background-color: white;
}

header {
  z-index: 1;
  transition: all 0.2s linear;
  background-color: none;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 7.5%;
  align-items: center;

  nav {
    ul {
      display: flex;
      li:not(:last-child) {
        margin-right: 36px;
      }
    }
  }
  h1 {
    place-self: center;
  }
  > span {
    justify-self: end;
    font-size: 1.6rem;
  }
  .logo {
    font-family: 'Yrsa', serif;
    font-size: 3rem;
    display: flex;
    font-weight: 500;
    span {
      margin: 0 -2px;
      transform: rotateZ(-15deg);
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh;
  // grid-template-rows: calc(100vh - 60px);
  .hero__img {
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: center;
  }
  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      text-align: center;
      line-height: 1.2;
      width: 70%;
      font-size: 3.2rem;
      font-weight: 500;
      font-family: 'Yrsa', serif;
      margin-bottom: 50px;
    }
    > span {
      font-size: 0.9rem;
      a:nth-child(2) {
        font-weight: normal;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efcb56;
  height: 60vh;
  font-family: 'Yrsa', serif;
  h2 {
    margin: 180px 0 50px 0;
    text-align: center;
    line-height: 1.2;
    width: 70%;
    font-size: 3.2rem;
    font-weight: 500;
  }
  p {
    text-align: center;
    width: 55%;
    font-size: 2.2rem;
  }
  span {
    margin: 50px 0 130px 0;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50vh;
  gap: 1px;
  .gallery__item {
    position: relative;

    .gallery__item__background {
      height: 100%;
      background-image: url('https://source.unsplash.com/random');
      background-size: cover;
      background-position: center;
      transition: all 0.2s linear;
      &:hover {
        filter: blur(50px);
      }
    }
    .gallery__item__text {
      position: absolute;
      top: 50%;
      left: 40%;
      visibility: hidden;
      transition: all 0.2s linear;
    }
    &:hover {
      .gallery__item__text {
        visibility: visible;
      }
    }

    &:nth-child(1),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(10) {
      grid-column-start: span 2;
    }
  }
}
